body { 
		font-family: 			Arial,Helvetica;
		font-size: 			11px;
		margin: 			10px;
		background-color: 		#888880;
		color: 				#505050;
		SCROLLBAR-FACE-COLOR: 		#FFFFFF; 
		SCROLLBAR-HIGHLIGHT-COLOR: 	#FFFFFF; 
		SCROLLBAR-SHADOW-COLOR: 	#FFFFFF; 
		SCROLLBAR-3DLIGHT-COLOR: 	#FFFFFF; 
		SCROLLBAR-DARKSHADOW-COLOR: 	#FFFFFF; 
		SCROLLBAR-ARROW-COLOR: 		#888880; 
		SCROLLBAR-TRACK-COLOR: 		#888880; 
		SCROLLBAR-BASE-COLOR: 		#888880;
		overflow: hidden;
}

div {
		SCROLLBAR-FACE-COLOR: 		#b9b9b9; 
		SCROLLBAR-HIGHLIGHT-COLOR: 	#b9b9b9; 
		SCROLLBAR-SHADOW-COLOR: 	#b9b9b9; 
		SCROLLBAR-3DLIGHT-COLOR: 	#b9b9b9; 
		SCROLLBAR-DARKSHADOW-COLOR: 	#b9b9b9; 
		SCROLLBAR-ARROW-COLOR: 		#FFFFFF; 
		SCROLLBAR-TRACK-COLOR: 		#FFFFFF; 
		SCROLLBAR-BASE-COLOR: 		#FFFFFF;
}

.title {
		position: relative;
		font-family: 		impact; 
		font-size:		30px; 
		color: 			#A0A0A0;
		left:-3px;
		letter-spacing: -2px;
}

.subtitle {
		font-family: Small Fonts,VT100,Arial,Helvetica; font-size: 9px; font-weight: bold;
		color: 			#505050;
}

.little {
		font-family: Small Fonts,VT100,Arial,Helvetica;
		font-size: 9px;
		color: #909090;
}

A 			{ font-family: Small Fonts,VT100,Arial,Helvetica; font-size: 9px; text-decoration: none; }
A:link    		{ color:#FF6600; }
A:visited 		{ color:#FF6600; }
A:active  		{ color:#505050; }
A:hover  		{ color:#505050; }

A.normal 		{ font-family: Small Fonts,VT100,Arial,Helvetica; font-size: 9px; text-decoration: none; }
A.normal:link    	{ color:#808080; }
A.normal:visited 	{ color:#808080; }
A.normal:active  	{ color:#FF4000; }
A.normal:hover  	{ color:#FF4000; }

A.menu	 		{ font-family: Small Fonts,VT100,Arial,Helvetica; font-size: 9px; font-weight: bold; text-decoration: none; padding:5px;}
A.menu:link    		{ color:#707070; background-color:#FFFFFF; }
A.menu:visited 		{ color:#707070; background-color:#FFFFFF; }
A.menu:active  		{ color:#FFFFFF; background-color:#505050; }
A.menu:hover  		{ color:#FFFFFF; background-color:#505050; }